.emails {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 30px;
    height: 60px;
    width: 40%;
}

.emails > img {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
    height: 15px;
}

.emails h2 {
    margin-bottom: 15px;
}

.emails > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    
}